<a id="top"></a>
<h1>Component Lifecycle Hooks</h1>
<a href="#hooks">Peek-a-boo: (most) lifecycle hooks-----展示每个生命周期钩子，每个钩子方法都会在屏幕上显示一条日志。</a><br>
<a href="#onchanges">OnChanges</a><br>
<a href="#docheck">DoCheck</a><br>
<a href="#after-view">AfterViewInit & AfterViewChecked</a><br>
<a href="#after-content">AfterContentInit & AfterContentChecked</a><br>
<a href="#spy">Spy: directive with OnInit & OnDestroy</a><br>
<a href="#counter">Counter: OnChanges + Spy directive</a><br>
<a href="#input-focus"></a>

<a id="hooks"></a>
<peek-a-boo-parent></peek-a-boo-parent>
<a href="#top">返回顶点</a>


<a id="input-focus"></a>
<input-focus></input-focus>
<a href="#top">返回顶点</a>


<a id="onchanges"></a>
<on-changes-parent></on-changes-parent>
<a href="#top">back to top</a>
