<a id="top"></a>
<h1>Component Lifecycle Hooks</h1>
<a href="#hooks">Peek-a-boo: (most) lifecycle hooks-----展示每个生命周期钩子，每个钩子方法都会在屏幕上显示一条日志。</a><br>
<a href="#onchanges">OnChanges</a>----- 这里将会看到：每当组件的输入属性发生变化时，Angular 会如何以 changes 对象作为参数去调用 ngOnChanges() 钩子。 展示了该如何理解和使用 changes 对象。<br>
<a href="#docheck">DoCheck</a>----- 实现了一个 ngDoCheck() 方法，通过它可以自定义变更检测逻辑。 这里将会看到：Angular 会用什么频度调用这个钩子，监视它的变化，并把这些变化输出成一条日志。<br>
<a href="#after-view">AfterViewInit & AfterViewChecked</a><br>
<a href="#after-content">AfterContentInit & AfterContentChecked</a><br>
<a href="#spy">Spy: directive with OnInit & OnDestroy</a><br>
<a href="#counter">Counter: OnChanges + Spy directive</a><br>
<a href="#input-focus"></a>

<a id="hooks"></a>
<peek-a-boo-parent></peek-a-boo-parent>
<a href="#top">返回顶点</a>


<a id="input-focus"></a>
<input-focus></input-focus>
<a href="#top">返回顶点</a>


<a id="onchanges"></a>
<on-changes-parent></on-changes-parent>
<a href="#top">back to top</a>

<a id="docheck"></a>
<do-check-parent></do-check-parent>
<a href="#top">back to top</a>

<a id="after-view"></a>
<after-view-parent></after-view-parent>
<a href="#top">back to top</a>

<a id="after-content"></a>
<after-content-parent></after-content-parent>
<a href="#top">back to top</a>

<a id="counter"></a>
<counter-parent></counter-parent>
<a href="#top">back to top</a>

